.bag1 {
  img {
    width: 700px;
    height: 650px;
  }
  .text {
    position: absolute;
    h1 {
      margin-top: 12px;
    }
    h4 {
      padding: 8px;
    }
  }
}
.bag2 {
  img {
    width: 700px;
    height: 650px;
  }
  .text {
    position: absolute;
    h1 {
      margin-top: 12px;
    }
    h4 {
      padding: 8px;
    }
  }
}
